body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main p {
  font-family: 'Roboto Condensed', sans-serif;
}

strong {
  font-weight: 700;
}

.justify {
  text-align: justify;
}

.padding-top-5px {
  padding-top: 5px;
}

.brand-logo {
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}

.page-footer {
  padding-top: 10px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.back-to-top.back-to-top-visible, .back-to-top.back-to-top-fade-out, .no-touch, .back-to-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.back-to-top.back-to-top-visible {
  visibility: visible;
  opacity: 1;
}

.back-to-top.back-to-top-fade-out {
  opacity: .5;
}

.back-to-top:hover {
  opacity: 1;
}
